@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');;
}

html {
    font-size: 62.5%;
}


:root {
    --default-font: 'HankenGrotesk';

    --font-size-xs: 1.2rem;
    --font-size-sm: 1.5rem;
    --font-size-med: 1.8rem;
    --font-size-lg: 2.5rem;
    --font-size-xxl: 5rem;

    --font-weight-normal: 400;
    --font-weight-lessbold: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 900;

    --color-slate-hsl: 252, 100%, 67%;
    --color-slate: hsl(var(--color-slate-hsl));
    --color-royal: hsl(241, 81%, 54%);
    --color-lavander: hsl(241, 100%, 89%);
    --color-lavander-muted: hsl(241, 100%, 89%, .5);
    --color-white: hsl(0, 0%, 100%);
    --color-violet: hsla(256, 72%, 46%, 1);
    --color-persian: hsla(241, 72%, 46%, 0);
    --color-dark-blue-hsl: 224, 30%, 27%;
    --color-dark-blue: hsl(--color-dark-blue-hsl);
    --color-light-red-hsl: 0, 100%, 67%;
    --color-orangey-hsl: 39, 100%, 56%;
    --color-green-teal-hsl: 166, 100%, 37%;
    --color-cobalt-blue-hsl: 234, 85%, 45%;

    --gradient-primary: linear-gradient(
        var(--color-slate), 
        var(--color-royal));

    --gradient-circle:  linear-gradient(
        var(--color-violet), 
        var(--color-persian));
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

body {
    font-family: var(--default-font);
    font-size: var(--font-size-med);
}

main {
    --padding: 3rem;
    --border-radius: 3rem;
    max-width: 58rem;
}

.results {
    padding: var(--padding) calc(var(--padding) * 1.5);
    background: var(--gradient-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--color-lavander);
    text-align: center;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.results .description {
    display: grid;
    gap: 1rem;
}

.results p {
    font-size: var(--font-size-sm);
}

.results .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    aspect-ratio: 1 / 1;
    background: var(--gradient-circle);
    border-radius: 50%;
}

.results h2 {
    color: var(--color-white);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lessbold);
}

.results .score {
    font-size: var(--font-size-sm);
    color: var(--color-lavander-muted);
}

.results .score span {
    color: var(--color-white);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    display: block;
}

.summary {
    padding: var(--padding);
    display: grid;
    /* align-items: start; */
    gap: 3rem;
}

.summary .items {
    display: grid;
    gap: 1rem;
}

.summary h1 {
    color: var(--color-dark-blue);
    font-weight: var(--font-weight-bold);
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-lessbold);
}

.summary-item .name {
    display: flex;
    gap: .5rem;
}

.summary-item .score {
    font-weight: var(--font-weight-bold);
    color: hsl(var(--color-dark-blue-hsl),.5);
}

.summary-item .score span {
    color: hsl(var(--color-dark-blue-hsl));
}

.summary-item.light-red {
    background: hsl(var(--color-light-red-hsl),.1);
}

.summary-item.light-red .name {
    color: hsl(var(--color-light-red-hsl));
}

.summary-item.orangey {
    background: hsl(var(--color-orangey-hsl),.1);
}

.summary-item.orangey .name {
    color: hsl(var(--color-orangey-hsl));
}

.summary-item.green-teal {
    background: hsl(var(--color-green-teal-hsl),.1);
}

.summary-item.green-teal .name {
    color: hsl(var(--color-green-teal-hsl));
}

.summary-item.cobalt-blue {
    background: hsl(var(--color-cobalt-blue-hsl),.1);
}

.summary-item.cobalt-blue .name {
    color: hsl(var(--color-cobalt-blue-hsl));
}

button {
    background: hsl(var(--color-dark-blue-hsl));
    color: var(--color-white);
    padding: 2rem;
    border: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    border-radius: 100vw;
    cursor: pointer;
}

button:hover {
    background: var(--gradient-primary);
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-content: center;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        box-shadow: 1rem 1rem 3rem 
          hsl(var(--color-slate-hsl), .1);
    }
    .results {
        border-radius: var(--border-radius);
    }
    button {
        padding: 1rem;
    }
    .summary-item {
        padding: 1rem;
    }
}